@{
    ViewData["Title"] = "Get to Know Joel";
}
<h1>@ViewData["Title"]</h1>

<div>
    <a href="https://www.qwcomedy.com/">Quick Wits Comedy, where Joel performs regularly.</a>
</div>
<br />
<div>
    <a href="https://baconsale.com/">baconsale.com</a>
</div>
<br />

<div>
    <a href="https://baconsale.com">
        <img src="~/img/BaconsaleKate.jpg" />
    </a>
</div>

