@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}
<div>
	<img src="~/img/joelhiltonheadshot.jpg" />
</div>

<div>
	<a asp-controller="Home" asp-action="MovieList">View Movie List</a>
</div>


